.navbar-nav li > a:hover, #topheader .navbar-nav li > a:focus {
    background-color: #999;
    color: #fff;
}

.navbar-nav li.active > a {
    background-color: #fff;
}

.navbar-dark .navbar-nav .nav-link{
    color: #f2f2f2;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active{
    color: #000000;
}